<%- include header %>	
	<div class="tabbable tabs-left" style="margin:10px 0 0;">
			<ul class="nav nav-tabs" style="max-height:none;">
				<% if(user.auth.indexOf('1') > -1 )  { %>
               		<li class="active" code="1"><a href="#lA" data-toggle="tab">成员列表</a></li>
               	<% } %>	

               	<% if(user.auth.indexOf('2') > -1 )  { %>
               		<li class="" code="2"><a href="#lB" data-toggle="tab">日报管理</a></li>
               	<% } %>	

               	<% if(user.auth.indexOf('3') > -1 )  { %>
                	<li class="" code="3"><a href="#lC" data-toggle="tab">话题管理</a></li>
                <% } %>	

                <% if(user.auth.indexOf('4') > -1 )  { %>
               		<li class="" code="4"><a href="#lD" data-toggle="tab">积分管理</a></li>
               	<% } %>	

               	<% if(user.auth.indexOf('5') > -1 )  { %>
               		<li class="" code="5"><a href="#lF" data-toggle="tab">权限管理</a></li>
               	<% } %>	

               	<% if(user.auth.indexOf('6') > -1 )  { %>
	               	<li class="" code="6"><a href="#lE" data-toggle="tab">排行榜</a></li>
	            <% } %>	
            </ul>
		<div class="tab-content">
			<div class="tab-pane active" id="lA">
				<div style="background:#fff">
				    <table cellspacing="0" class="table table-primary table-hover" align="center">
				    	<thead align="center">
				    		<tr>
				    			<td colspan="7"><strong>WEB研发一部（前端）成员表</strong>
				    			<author style="float:right;">
				    				<strong>负责人：</strong>谢武
				    			</author>
				    			</td>
				    		</tr>
				    	</thead>
				    	<tbody align="center">
							<% for(var i=0; i<users.length; i++) { %>
								<tr>
					    			<td><%= users[i]['name'] %></td>
					    			<td><%= users[i]['mobile'] %></td>
					    		</tr>
							<% } %>
			    		</tbody>
				    </table>
				</div>
			</div>
			<div class="tab-pane" id="lB">
				<div id="msgList" style="background:#fff">
				    <table cellspacing="0" class="table table-primary table-hover" align="center">
				    	<thead align="center">
				    		<tr>
				    			<td>
				    				<strong>日报管理</strong>
				    			</td>
				    			<td></td><td></td>
				    			<td>
				    				<select id="dailyStatus" style="float:left;">
				    					<option value="">所有日报</option>
				    					<option selected="true" value="1">未审核日报</option>
				    					<option value="2">未通过日报</option>
				    					<option value="3">已通过日报</option>
				    				</select>
				    			</td>
				    		</tr>
				    	</thead>
				    	<tfoot>
				    		<tr>
				    			<td colspan="4"><div id="dayPagi" class="pagination" current_page="1"></div></td>
				    		</tr>
				    	</tfoot>
				    	<tbody id="dailyCon">
				    		<% for(var i=0; i<messages.length; i++) { %>
				    			<tr>
								<td><%= messages[i]['name']%></td>
				    			<td><a herf="#"><%= messages[i]['mtitle']%></a></td>
				    			<td><%= messages[i]['mtime']%></td>
				    			<td><button name="startPassBtn"  type="button" class="btn btn-success" mid="<%= messages[i]['_id']%>">开始审核</button></td>
				    			</tr>
							<% } %>

							<%  if(messages.length == 0) { %>
								<td>暂无待审核日报</td>
							<% } %>

			    		</tbody>
				    </table>
				</div>

				<div id="msgDetail" class="panel" style="display:none;"> 
					<div class="inner topic"> 
						<div id="msgCon"></div>
						<div class="well">
							<textarea id="reviews" style="width:99%;" rows="3" placeholder="管理员要说点什么吗？"></textarea>
						</div>
						<div class="text-right">
							<div style="float:left;">
								<label style="display:inline;">悬赏积分：</label>
								<input id="score" type="text" style="width:50px; vertical-align:top;">
							</div>
							<button name="backBtn" type="button" class="btn">返回列表</button>
							<button id="passBtn" type="button" class="btn btn-success">通过</button>
							<button id="unPassBtn" type="button" class="btn btn-warning">不通过</button>
						</div>
					</div> 
				</div>

				<div id="msgSeeDetail" class="panel" style="display:none;"> 
					<div class="inner topic"> 
						<div id="msgSeeCon"></div>
						<div id="commentCon" class="panel" style="display:none;"> 
							<div class="header"> 
							<span class="col_fade"><span id="commentNum">1</span>  回复</span> 
							</div> 
							 <div id="adminComment">

							 </div>
						</div>
						<div class="text-right">
							<button name="backBtn" type="button" class="btn">返回列表</button>
						</div>
					</div> 
				</div>
			</div>
			<div class="tab-pane" id="lC">
				<table cellspacing="0" class="table table-primary table-hover" align="center">
			    	<thead align="center">
			    		<tr>
			    			<td>
			    				<strong>话题管理</strong>
			    			</td>
			    		</tr>
			    	</thead>
			    	<tbody>
			    			<tr>
								<td>正在努力开发中...</td>
			    			</tr>
		    		</tbody>
			    </table>
			</div>
			<div class="tab-pane" id="lD">
				<ul class="nav nav-tabs" style="max-height:none;"> 
	                <li class="active"><a href="#lAd" data-toggle="tab">积分日志</a></li> 
	               	<li class=""><a href="#lEd" data-toggle="tab">积分增减</a></li> 
	            </ul>
	            <div class="tab-content">
		            <div class="tab-pane active" id="lAd">
		            	<table cellspacing="0" class="table table-primary table-hover" align="center">
		            		<thead>
		            			<tr>
		            				<td><strong>姓名</strong></td>
		            				<td><strong>方式</strong></td>
		            				<td><strong>总分</strong></td>
		            				<td><strong>积分</strong></td>
		            				<td style="width:150px;"><strong>说明</strong></td>
		            				<td><strong>时间</strong></td>
		            			</tr>
		            		</thead>	
					    	<tfoot>
					    		 <tr>
							      <td colspan="6">
								      <div id="logPagina" class="pagination">
								      		<ul>
								      			<li class="active">
								      				<a title="Current page is 1">1</a>
								      			</li>
								      			<li>
								      				<a title="Go to page 2">2</a>
								      			</li>
								      			<li>
								      				<a title="Go to next page">&gt;</a>
								      			</li>
								      			<li>
								      				<a title="Go to last page">&gt;&gt;</a>
								      			</li>
								      		</ul>
								      </div>
							      </td>
							    </tr>
					    	</tfoot>
					    	<tbody id="logContent">
				    		</tbody>
					    </table>
		            </div>
		            <div class="tab-pane" id="lEd">
		            	<form method="post" action="/changeScoreByAdmin" >
		            		<div>
		            			<label class="span-6">成员：</label><select which="userList" name="uid" required class="span-6"></select>
		            		</div>
		            		<div>
		            			<label class="span-6">积分：</label><input type="number" name="score"  class="span-6" value="0">
		            		</div>
		            		<div>
		            			<label class="span-6">说明：</label><input type="text" name="mark" required class="span-6" />
		            		</div>
		            		<div style="padding-left:62px; margin-top:15px;">
		            			<button type="submit" class="btn btn-success">提交</button>
		            			<button type="reset" class="btn">重置</button>
		            		</div>
		            	</form> 
		            </div>
				</div>
			</div>
			<div class="tab-pane" id="lE">
				<table cellspacing="0" class="table" align="center">
			    	<thead align="center">
			    		<tr>
			    			<td>
			    				<strong>排行榜</strong>
			    			</td>
			    		</tr>
			    	</thead>
			    	<tbody>
			    			<tr>
								<td>
									<div id="graph"></div>
								</td>
			    			</tr>
		    		</tbody>
			    </table>
			</div>
			<div class="tab-pane" id="lF" style="height:400px;">
				<strong style="margin:8px 0px 0px 5px; padding:0 0 7px 10px; display:block; border-bottom:1px solid #ddd;">权限管理</strong>
				<select which="userList" name="auth" style="margin-top:25px;">
				</select>
				<ul id="authList" style="list-style:none; margin:0; padding:0; max-height:none;">
					<li style="line-height:normal; height:32px;">
						<input type="checkbox" value="1" id="1" style="vertical-align:top; margin-right:10px;"><label for="1" style="display:inline;">成员列表</label>
					</li>
					<li style="line-height:normal; height:32px;">
						<input type="checkbox" value="2" id="2"  style="vertical-align:top; margin-right:10px;"><label for="2" style="display:inline;">日报管理</label>
					</li>
					<li style="line-height:normal; height:32px;">
						<input type="checkbox" value="3" id="3"  style="vertical-align:top; margin-right:10px;"><label for="3" style="display:inline;">话题管理</label>
					</li>
					<li style="line-height:normal; height:32px;">
						<input type="checkbox" value="4" id="4"  style="vertical-align:top; margin-right:10px;"><label for="4" style="display:inline;">积分管理</label>
					</li>
					<li style="line-height:normal; height:32px;">
						<input type="checkbox" value="5" id="5"  style="vertical-align:top; margin-right:10px;"><label for="5" style="display:inline;">权限管理</label>
					</li>
					<li style="line-height:normal; height:32px;">
						<input type="checkbox" value="6" id="6"  style="vertical-align:top; margin-right:10px;"><label for="6" style="display:inline;">排行榜</label>
					</li>
				</ul>
				<button id="authSureBtn" class="btn btn-success">确定</button>
			</div>
		</div>
	</div>
	<script src="/javascripts/webList.js"></script>
<%- include footer %>